include tooltip

mixin list(elem, index, backgroundColor)
    li.modal-trigger(id=elem.name.toLowerCase(), class=elem.name.toLowerCase(), class=elem.groupBlock.toLowerCase(), style=`background-color: ${backgroundColor}` data-target=`modal-${index}` role="button")
        +tooltip("abbr", elem.name, elem.symbol, `${elem.name} ${elem.symbol} ${elem.groupBlock}`, "bottom")