mixin list(elem, backgroundColor)
    li(id=elem.name.toLowerCase(), class=elem.name.toLowerCase(), class=elem.groupBlock.toLowerCase(), style=`background-color: ${backgroundColor}`)
        abbr(title=elem.name.toLowerCase())= elem.symbol
