mixin modal(id, title, body)
    div(class="modal micromodal-slide" id=`modal-${id}` aria-hidden="true")
        div(class="modal__overlay" tabindex="-1" data-custom-close=`modal-${id}`)
            div( class="modal__container" role="dialog" aria-modal="true" aria-labelledby=`modal-${id}-title`)
                div(class="modal__header")
                    h2( class="modal__title" id=`modal-${id}-title`)
                    | #{title} 🔥                
                    button(class="modal__close" aria-label="Close modal" data-custom-close=`modal-${id}`)
                div(class="modal__content" id=`modal-${id}-content`)
                    p #{body}
                
                footer(class="modal__footer")
                    button(class="modal__btn modal__btn-primary") Continue
                    button(class="modal__btn" data-custom-close=`modal-${id}` aria-label="Close this dialog window") Close
